.login-wrapper{
    height: 100%;
    background-color: #333;
    color: #333;
}
.login{
    position: absolute;
    width: 240px;
    height: 240px;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -120px;
    box-shadow: 7px 7px #1B2327;
    background-color: #fff;
    border-radius: 2px;
}

.login__header{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #333;
}

.login__input__wrapper{
    text-align: center;
}

.login__input__wrapper input{
    background-color: #ECEFF1;
    padding: 8px;
    margin-bottom: 6px;
    padding-left: 33px;
    border: 1px solid #ECEFF1;
    border-radius: 2px;
}

.login__input__wrapper input:focus{
    outline: none;
}

.login__submit{
    text-align: center;
}

.login__submit button{
    margin-top: 15px;
    background: #0066A2;
    color: white;
    border: 0px solid;
    border-radius: 3px;
    border-color: #0066A2;
    height: 40px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.login__error{
    font-size: 0.9rem;
    font-style: italic;
    color: red;
    text-align: center;
    margin-top:10px;
}